@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-space-grotesk);
  --font-mono: var(--font-plex-mono);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.9rem;
  --background: oklch(0.99 0.005 95);
  --foreground: oklch(0.19 0.02 255);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.19 0.02 255);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.19 0.02 255);
  --primary: oklch(0.53 0.15 176);
  --primary-foreground: oklch(0.99 0 0);
  --secondary: oklch(0.96 0.01 220);
  --secondary-foreground: oklch(0.27 0.03 255);
  --muted: oklch(0.97 0.01 90);
  --muted-foreground: oklch(0.45 0.03 240);
  --accent: oklch(0.95 0.04 181);
  --accent-foreground: oklch(0.3 0.03 220);
  --destructive: oklch(0.63 0.23 28);
  --border: oklch(0.89 0.01 210);
  --input: oklch(0.9 0.01 210);
  --ring: oklch(0.56 0.14 175);
}

.dark {
  --background: oklch(0.16 0.03 250);
  --foreground: oklch(0.97 0.01 210);
  --card: oklch(0.2 0.02 250);
  --card-foreground: oklch(0.97 0.01 210);
  --popover: oklch(0.2 0.02 250);
  --popover-foreground: oklch(0.97 0.01 210);
  --primary: oklch(0.7 0.13 175);
  --primary-foreground: oklch(0.14 0.02 255);
  --secondary: oklch(0.25 0.02 250);
  --secondary-foreground: oklch(0.97 0.01 210);
  --muted: oklch(0.24 0.02 250);
  --muted-foreground: oklch(0.76 0.01 220);
  --accent: oklch(0.31 0.05 178);
  --accent-foreground: oklch(0.95 0.01 220);
  --destructive: oklch(0.7 0.2 26);
  --border: oklch(0.3 0.01 250);
  --input: oklch(0.32 0.01 250);
  --ring: oklch(0.67 0.1 176);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    background-image: radial-gradient(
        circle at 25% -10%,
        rgba(71, 203, 196, 0.15),
        transparent 35%
      ),
      radial-gradient(circle at 80% 0, rgba(255, 190, 80, 0.1), transparent 28%);
  }
}
